<div class="header-container">
    <nav class="header">
        <div class="contents-flex-box">
            <div class="logo-container">
                <div class="logo">
                    <h2 class="logo-text">AlgoViz</h2>
                </div>
            </div>
            <div class="size-container">
                <div class="size">Size</div>
                <mat-slider (input)="onSizeChange($event)" class="slider" thumbLabel [displayWith]="formatLabel" min="10" max="100" value="30"></mat-slider>
            </div>
            <div class="speed-container">
                <div class="speed">Speed</div>
                <mat-slider (input)="onSpeedChange($event)" class="slider" [displayWith]="formatLabel" min="200" max="400"></mat-slider>
            </div>
            <div class="list_elements-container">
                <div class="list_elements" (click)="changeList()">Change List</div>
            </div>
        </div>
    </nav>
</div>
<div class="sorting-container">
    <div class="visual-list-container">
        <div class="numbers" *ngFor="let bar of barList; index as i">
            <div class="separator"></div>
            <div id="bar{i}" class="bar" [style.width.%]="bar.number" [style.height.px]="5" [style.background-color]="bar.color"></div>
        </div>
    </div>
</div>
<button class="button" (click)="insertionSort(0, 0)">Insertion Sort</button>
<button class="button" (click)="selectionSort(0, 1, 0)">Selection Sort</button>
<button class="button" (click)="bubbleSort(0, 0)">Bubble Sort</button>
<button class="button" (click)="quickSort(0, size - 1)">Quick Sort</button>
<button class="button" (click)="mergeSort(size, 0, 1)">Merge Sort</button>