<div class="main-container">
    <div class="visual-list-container">
        <div class="numbers" *ngFor="let bar of barList; index as i">
            <div id="bar{i}" class="bar" [style.width.px]="bar.number * 11" [style.height.px]="5" [style.background-color]="bar.color"></div>
            <!--<div class="number" [style.width.px]="[animations[i] * 10]">{{ number }}</div>-->
        </div>
    </div>
</div>
<button class="button" (click)="insertionSort(0, 0)">Insertion Sort</button>
<button class="button" (click)="selectionSort(0, 1, 0)">Selection Sort</button>
<button class="button" (click)="bubbleSort(0, 0)">Bubble Sort</button>