@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

.header-container {
    background-color: #1E1F22;
}
.contents-flex-box {
    display: flex;
    margin: auto;
    padding-top: 7px;
}
.logo {
    padding-left: 5px;
}
.logo-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #fceef5;
}
.size_speed-container {
    display: flex;
    margin: auto;
    height: auto;
}
.size-text, .speed-text {
    margin: auto;
    margin-left: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #fceef5;
}
.size-container, .speed-container {
    display: flex;
    margin: auto;
    height: auto;
    color: #55e9bc;
}
.list_elements-container {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list_elements, .sort {
    font-family: 'Work Sans', sans-serif;
    color: #fceef5;
}
.reset-disabled {
    pointer-events: none;
}
mat-slider {
    margin-left: 5px;
}
.size_speed-disabled {
    pointer-events: none;
}
.sorting-container {
    background-color: #d0d4e0;
    height: 90%;
}
.visual-list-container {
    height: 100%;
}
.sorting-algo-container {
    display: flex;
}
.sorting-disabled {
    pointer-events: none;
}
.sort {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.sort:hover, .list_elements:hover {
    cursor: pointer;
    border-bottom: #55e9bc 1px solid;
    color: #55e9bc;
}

@media only screen and (max-width: 1050px) {
    .sorting-algo-container {
        display: block;
        margin: auto;
    }
    .sort {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .logo {
        margin-top: 50px;
    }
    .logo-text {
        font-size: 20px;
    }
    .size_speed-container {
        display: block;
    }
    .size-text, .speed-text {
        font-size: 15px;
        margin-right: 5px;
    }
    mat-slider {
        margin: auto;
    }
}
.separator {
    height: 1px;
}