<div class="header-container">
    <nav class="header">
        <div class="contents-flex-box">
            <div class="logo-container">
                <div class="logo">
                    <h2 class="logo-text">AlgoViz</h2>
                </div>
            </div>
            <div class="size-container">
                <div class="size">Size Bar</div>
            </div>
            <div class="list_elements-container">
                <div class="list_elements">Change List</div>
            </div>
            <div class="sort-container">
                <div class="sort">Sort!</div>
            </div>
            <div class="sorting_algo-container">
                    <div class="sorting_algo">Insertion Sort</div>
                    <div class="sorting_algo">Selection Sort</div>
                    <div class="sorting_algo">Bubble Sort</div>
                    <div class="sorting_algo">Merge Sort</div>
                    <div class="sorting_algo">Quick Sort</div>
            </div>
            <div class="sorting_algo-container-small">
                <div class="menu">Sorting Method</div>
                <div class="sorting_method-text">text here</div>
            </div>
        </div>
    </nav>
</div>